* {
    margin: 0;
    font-size: 10px;
}

body {
    background-image: url('./images/pexels-saad-alaiyadhi-131639221-13010774.jpg');
    background-color: black;
}

header {
    background-color: forestgreen;
    padding: 15px;
    margin-bottom: 20px;
}

nav {
    justify-self: center;
}

button {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
}